In [14]:
import pandas as pd
#  Load the dataset
file_path = 'ms.csv'
df = pd.read_csv(file_path)

In [15]:
df.info

<bound method DataFrame.info of                                         tournament     city   country  \
0     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
1     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
2     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
3     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
4     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
...                                            ...      ...       ...
3756              Orleans Masters 2021 (New Dates)  Orleans    France
3757              Orleans Masters 2021 (New Dates)  Orleans    France
3758              Orleans Masters 2021 (New Dates)  Orleans    France
3759              Orleans Masters 2021 (New Dates)  Orleans    France
3760              Orleans Masters 2021 (New Dates)  Orleans    France

            date                tournament_type discipline  \
0     09-01-2018  HSBC BWF World Tour Super 300         MS
1     09-01-2018  HSBC BWF World Tour Super 300         MS
2     09-01-2018  HSBC BWF World Tour Super 300         MS
3     09-01-2018  HSBC BWF World Tour Super 300         MS
4     09-01-2018  HSBC BWF World Tour Super 300         MS
...          ...                            ...        ...
3756  26-03-2021             BWF Tour Super 100         MS
3757  26-03-2021             BWF Tour Super 100         MS
3758  27-03-2021             BWF Tour Super 100         MS
3759  27-03-2021             BWF Tour Super 100         MS
3760  28-03-2021             BWF Tour Super 100         MS

                          round  winner  nb_sets  retired  ...  \
0     Qualification round of 16       1        3    False  ...
1     Qualification round of 16       1        2    False  ...
2     Qualification round of 16       1        3    False  ...
3     Qualification round of 16       1        2    False  ...
4     Qualification round of 16       2        2    False  ...
...                         ...     ...      ...      ...  ...
3756              Quarter final       2        2    False  ...
3757              Quarter final       1        2    False  ...
3758                 Semi final       1        3    False  ...
3759                 Semi final       2        3    False  ...
3760                      Final       1        2    False  ...

     team_one_most_consecutive_points_game_2  \
0                                        4.0
1                                        6.0
2                                        2.0
3                                       12.0
4                                        3.0
...                                      ...
3756                                     4.0
3757                                     6.0
3758                                     4.0
3759                                     3.0
3760                                     4.0

     team_two_most_consecutive_points_game_2 team_one_game_points_game_2  \
0                                        4.0                         2.0
1                                        5.0                         2.0
2                                        6.0                         0.0
3                                        3.0                         1.0
4                                        4.0                         0.0
...                                      ...                         ...
3756                                     8.0                         0.0
3757                                     3.0                         1.0
3758                                     6.0                         0.0
3759                                     5.0                         0.0
3760                                     3.0                         2.0

     team_two_game_points_game_2  \
0                            0.0
1                            0.0
2                            1.0
3                            0.0
4                            2.0
...                          ...
3756                         5.0
3757                         0.0
3758                         1.0
3759                         1.0
3760                         0.0

                                          game_2_scores  \
0     ['0-0', '0-1', '1-1', '1-2', '2-2', '2-3', '3-...
1     ['0-0', '1-0', '2-0', '3-0', '4-0', '5-0', '6-...
2     ['0-0', '0-1', '0-2', '0-3', '1-3', '2-3', '2-...
3     ['0-0', '1-0', '2-0', '3-0', '4-0', '5-0', '6-...
4     ['0-0', '1-0', '2-0', '3-0', '3-1', '4-1', '4-...
...                                                 ...
3756  ['0-0', '1-0', '2-0', '2-1', '3-1', '3-2', '3-...
3757  ['0-0', '1-0', '2-0', '3-0', '3-1', '4-1', '5-...
3758  ['0-0', '1-0', '1-1', '1-2', '2-2', '2-3', '2-...
3759  ['0-0', '1-0', '2-0', '3-0', '3-1', '3-2', '3-...
3760  ['0-0', '0-1', '1-1', '2-1', '2-2', '3-2', '4-...

     team_one_most_consecutive_points_game_3  \
0                                        8.0
1                                        NaN
2                                        4.0
3                                        NaN
4                                        NaN
...                                      ...
3756                                     NaN
3757                                     NaN
3758                                     6.0
3759                                     4.0
3760                                     NaN

     team_two_most_consecutive_points_game_3  team_one_game_points_game_3  \
0                                        2.0                          3.0
1                                        NaN                          NaN
2                                        7.0                          4.0
3                                        NaN                          NaN
4                                        NaN                          NaN
...                                      ...                          ...
3756                                     NaN                          NaN
3757                                     NaN                          NaN
3758                                     2.0                          1.0
3759                                     6.0                          0.0
3760                                     NaN                          NaN

      team_two_game_points_game_3  \
0                             0.0
1                             NaN
2                             0.0
3                             NaN
4                             NaN
...                           ...
3756                          NaN
3757                          NaN
3758                          0.0
3759                          2.0
3760                          NaN

                                          game_3_scores
0     ['0-0', '1-0', '1-1', '2-1', '3-1', '4-1', '4-...
1                                                    []
2     ['0-0', '1-0', '2-0', '3-0', '4-0', '4-1', '4-...
3                                                    []
4                                                    []
...                                                 ...
3756                                                 []
3757                                                 []
3758  ['0-0', '1-0', '1-1', '2-1', '3-1', '4-1', '4-...
3759  ['0-0', '1-0', '2-0', '3-0', '4-0', '4-1', '4-...
3760                                                 []

[3761 rows x 38 columns]>

In [16]:
df.columns

Index(['tournament', 'city', 'country', 'date', 'tournament_type',
       'discipline', 'round', 'winner', 'nb_sets', 'retired', 'game_1_score',
       'game_2_score', 'game_3_score', 'team_one_players', 'team_two_players',
       'team_one_nationalities', 'team_two_nationalities',
       'team_one_total_points', 'team_two_total_points',
       'team_one_most_consecutive_points', 'team_two_most_consecutive_points',
       'team_one_game_points', 'team_two_game_points',
       'team_one_most_consecutive_points_game_1',
       'team_two_most_consecutive_points_game_1',
       'team_one_game_points_game_1', 'team_two_game_points_game_1',
       'game_1_scores', 'team_one_most_consecutive_points_game_2',
       'team_two_most_consecutive_points_game_2',
       'team_one_game_points_game_2', 'team_two_game_points_game_2',
       'game_2_scores', 'team_one_most_consecutive_points_game_3',
       'team_two_most_consecutive_points_game_3',
       'team_one_game_points_game_3', 'team_two_game_points_game_3',
       'game_3_scores'],
      dtype='object')

In [17]:
import pandas as pd

# Convert numeric columns to the correct data type
numeric_columns = [
    'game_1_score', 'game_2_score', 'game_3_score', 'team_one_total_points',
    'team_two_total_points', 'team_one_most_consecutive_points', 
    'team_two_most_consecutive_points', 'team_one_game_points', 
    'team_two_game_points', 'team_one_most_consecutive_points_game_1',
    'team_two_most_consecutive_points_game_1', 'team_one_game_points_game_1', 
    'team_two_game_points_game_1', 'team_one_most_consecutive_points_game_2',
    'team_two_most_consecutive_points_game_2', 'team_one_game_points_game_2', 
    'team_two_game_points_game_2', 'team_one_most_consecutive_points_game_3',
    'team_two_most_consecutive_points_game_3', 'team_one_game_points_game_3', 
    'team_two_game_points_game_3'
]

for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Converts to float, setting errors to NaN

# Convert date columns to datetime
date_columns = ['date']

for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')  # Converts to datetime, setting errors to NaT

# Convert categorical columns to string
categorical_columns = [
    'tournament', 'city', 'country', 'tournament_type', 
    'discipline', 'round', 'winner', 'team_one_players', 
    'team_two_players', 'team_one_nationalities', 
    'team_two_nationalities', 'game_1_scores', 
    'game_2_scores', 'game_3_scores'
]

for col in categorical_columns:
    df[col] = df[col].astype(str)

In [18]:
df = df.fillna("None")

In [19]:
df.info

<bound method DataFrame.info of                                         tournament     city   country  \
0     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
1     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
2     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
3     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
4     PRINCESS SIRIVANNAVARI Thailand Masters 2018  Bangkok  Thailand
...                                            ...      ...       ...
3756              Orleans Masters 2021 (New Dates)  Orleans    France
3757              Orleans Masters 2021 (New Dates)  Orleans    France
3758              Orleans Masters 2021 (New Dates)  Orleans    France
3759              Orleans Masters 2021 (New Dates)  Orleans    France
3760              Orleans Masters 2021 (New Dates)  Orleans    France

                     date                tournament_type discipline  \
0     2018-09-01 00:00:00  HSBC BWF World Tour Super 300         MS
1     2018-09-01 00:00:00  HSBC BWF World Tour Super 300         MS
2     2018-09-01 00:00:00  HSBC BWF World Tour Super 300         MS
3     2018-09-01 00:00:00  HSBC BWF World Tour Super 300         MS
4     2018-09-01 00:00:00  HSBC BWF World Tour Super 300         MS
...                   ...                            ...        ...
3756                 None             BWF Tour Super 100         MS
3757                 None             BWF Tour Super 100         MS
3758                 None             BWF Tour Super 100         MS
3759                 None             BWF Tour Super 100         MS
3760                 None             BWF Tour Super 100         MS

                          round winner  nb_sets  retired  ...  \
0     Qualification round of 16      1        3    False  ...
1     Qualification round of 16      1        2    False  ...
2     Qualification round of 16      1        3    False  ...
3     Qualification round of 16      1        2    False  ...
4     Qualification round of 16      2        2    False  ...
...                         ...    ...      ...      ...  ...
3756              Quarter final      2        2    False  ...
3757              Quarter final      1        2    False  ...
3758                 Semi final      1        3    False  ...
3759                 Semi final      2        3    False  ...
3760                      Final      1        2    False  ...

     team_one_most_consecutive_points_game_2  \
0                                        4.0
1                                        6.0
2                                        2.0
3                                       12.0
4                                        3.0
...                                      ...
3756                                     4.0
3757                                     6.0
3758                                     4.0
3759                                     3.0
3760                                     4.0

     team_two_most_consecutive_points_game_2 team_one_game_points_game_2  \
0                                        4.0                         2.0
1                                        5.0                         2.0
2                                        6.0                         0.0
3                                        3.0                         1.0
4                                        4.0                         0.0
...                                      ...                         ...
3756                                     8.0                         0.0
3757                                     3.0                         1.0
3758                                     6.0                         0.0
3759                                     5.0                         0.0
3760                                     3.0                         2.0

     team_two_game_points_game_2  \
0                            0.0
1                            0.0
2                            1.0
3                            0.0
4                            2.0
...                          ...
3756                         5.0
3757                         0.0
3758                         1.0
3759                         1.0
3760                         0.0

                                          game_2_scores  \
0     ['0-0', '0-1', '1-1', '1-2', '2-2', '2-3', '3-...
1     ['0-0', '1-0', '2-0', '3-0', '4-0', '5-0', '6-...
2     ['0-0', '0-1', '0-2', '0-3', '1-3', '2-3', '2-...
3     ['0-0', '1-0', '2-0', '3-0', '4-0', '5-0', '6-...
4     ['0-0', '1-0', '2-0', '3-0', '3-1', '4-1', '4-...
...                                                 ...
3756  ['0-0', '1-0', '2-0', '2-1', '3-1', '3-2', '3-...
3757  ['0-0', '1-0', '2-0', '3-0', '3-1', '4-1', '5-...
3758  ['0-0', '1-0', '1-1', '1-2', '2-2', '2-3', '2-...
3759  ['0-0', '1-0', '2-0', '3-0', '3-1', '3-2', '3-...
3760  ['0-0', '0-1', '1-1', '2-1', '2-2', '3-2', '4-...

     team_one_most_consecutive_points_game_3  \
0                                        8.0
1                                       None
2                                        4.0
3                                       None
4                                       None
...                                      ...
3756                                    None
3757                                    None
3758                                     6.0
3759                                     4.0
3760                                    None

     team_two_most_consecutive_points_game_3  team_one_game_points_game_3  \
0                                        2.0                          3.0
1                                       None                         None
2                                        7.0                          4.0
3                                       None                         None
4                                       None                         None
...                                      ...                          ...
3756                                    None                         None
3757                                    None                         None
3758                                     2.0                          1.0
3759                                     6.0                          0.0
3760                                    None                         None

      team_two_game_points_game_3  \
0                             0.0
1                            None
2                             0.0
3                            None
4                            None
...                           ...
3756                         None
3757                         None
3758                          0.0
3759                          2.0
3760                         None

                                          game_3_scores
0     ['0-0', '1-0', '1-1', '2-1', '3-1', '4-1', '4-...
1                                                    []
2     ['0-0', '1-0', '2-0', '3-0', '4-0', '4-1', '4-...
3                                                    []
4                                                    []
...                                                 ...
3756                                                 []
3757                                                 []
3758  ['0-0', '1-0', '1-1', '2-1', '3-1', '4-1', '4-...
3759  ['0-0', '1-0', '2-0', '3-0', '4-0', '4-1', '4-...
3760                                                 []

[3761 rows x 38 columns]>

In [20]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv('ms_cleaned.csv', index=False)